.dark {
  $popover-border-color: rgb(102, 102, 102);
  &.popover {
    border-color: $popover-border-color;

    &.top {
      .arrow:after {
        border-top-color: $dark;
      }
      .arrow:before {
        border-top-color: $popover-border-color;
      }
    }
    &.right {
      .arrow:after {
        border-right-color: $dark;
      }
      .arrow:before {
        border-right-color: $popover-border-color;
      }
    }
    .popover-body,
    .popover-header {
      background-color: $dark;
      color: $light;
    }
  }
}
