@import '~bootstrap/scss/bootstrap';

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
  }
}

.is-dark {
  .modal-content {
    background-color: #333;
  }
}

.dark {
  $dark: #333;
  $light: #eee;
  background-color: $dark;
  color: $light;

  &.modal-header {
    border-bottom: 1px solid gray;
  }

  $popover-border-color: rgb(102, 102, 102);
  &.popover {
    border-color: $popover-border-color;

    &.top {
      .arrow:after {
        border-top-color: $dark;
      }
      .arrow:before {
        border-top-color: $popover-border-color;
      }
    }
    &.right {
      .arrow:after {
        border-right-color: $dark;
      }
      .arrow:before {
        border-right-color: $popover-border-color;
      }
    }
    .popover-body,
    .popover-header {
      background-color: $dark;
      color: $light;
    }
  }

  .close {
    text-shadow: none;
  }

  .dropdown-menu {
    background-color: lighten($dark, 5%);
    color: $light;
  }
}

.modal-footer.dark {
  border-top: 1px solid gray;
}

.section:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.form-group.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  label {
    margin: 0;
    padding: 0.375rem 0.7rem 0.375rem 0;
  }

  .form-control {
    text-align: right;
  }
}

.close-input {
  padding: 0.5rem;
  cursor: pointer !important;
  color: $danger;
}

.text-value {
  padding: 0.375rem 0.75rem 0.375rem 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.text-value:not(.static) {
  cursor: pointer;
}

.btn-outline-primary:hover {
  background-color: lighten($primary, 20%);
}

.btn.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-link {
  @extend a;
  cursor: pointer;
}

.collapsible {
  margin-bottom: 1rem;

  .form-group {
    margin: 0;
  }

  .indent {
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid color('gray');
  }
}

.navbar-brand {
  display: flex;
  align-items: center;

  .form-group {
    margin: 0;
  }
}
